~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~ http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.    
 
  ------
  Usage
  ------
  Igor Petruk
  ------

Usage
 
  Brief examples on how to use the <<<protobuf>>> goals.
 
* The <<<protobuf:run>>> mojo

   This goal is meant to be bound to a lifecycle phase and configured in your
   <<<pom.xml>>>. Default lifecycle phase is <<<generate-sources>>>. Also you
   should add protobuf library dependency to allow you module compile.
   
   See the example that will look for
   
+---+
<dependencies>
	<dependency>
		<groupId>com.google.protobuf</groupId>
		<artifactId>protobuf-java</artifactId>
	</dependency>
</dependencies>
<build>
	<plugins>
		<plugin>
			<groupId>com.github.igor-petruk.protobuf</groupId>
			<artifactId>protobuf-maven-plugin</artifactId>
			<version>0.6.3</version>
			<executions>
				<execution>
					<goals>
						<goal>run</goal>
					</goals>
				</execution>
			</executions>
		</plugin>
	</plugins>
</build>
+---+
  
Troubleshooting
 
* M2Eclipse and "Plugin execution not covered by lifecycle configuration"

	Try to update to M2Eclipse 1.1 which is not yet released, but stable and available to install. 
	Adding support for version 1.0 is quite complex and requires and extra project, it would make more sense to wait until 1.1 is released. 

